<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon name="school" item-left></ion-icon>&nbsp;&nbsp;Guia do Calouro</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item *ngIf="lista">
        <ion-label>Instituição</ion-label>
        <ion-select [(ngModel)]="instituicao" (ngModelChange)="updateInstituicao()" placeholder="{{instituicao}}">
            <ion-option *ngFor="let instituicao of lista | keys">{{instituicao.value}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card *ngIf="atualizando || !lista">
        <ion-card-header>
            Carregando...
        </ion-card-header>
    </ion-card>
    <ion-card *ngIf="dados.nome && !atualizando">
        <ion-card-header>
            {{dados.nome}}
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-12>{{dados.unidade}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>{{dados.endereco}}</ion-col>
                </ion-row>
                <ion-row *ngIf="dados.telefones">
                    <ion-col col-12><button [navPush]="telefonesPage" ion-button block color="light"><ion-icon name="call" item-left></ion-icon>&nbsp;&nbsp;Telefones</button></ion-col>
                </ion-row>
                <ion-row *ngIf="dados.horarios">
                    <ion-col col-12><button [navPush]="horariosPage" ion-button block color="light"><ion-icon name="time" item-left></ion-icon>&nbsp;&nbsp;Horários</button></ion-col>
                </ion-row>
                <ion-row *ngIf="dados.mapa">
                    <ion-col col-12><button [navPush]="mapaPage" ion-button block color="light"><ion-icon name="map" item-left></ion-icon>&nbsp;&nbsp;Mapa</button></ion-col>
                </ion-row>
                <ion-row *ngIf="dados.mais">
                    <ion-col col-12><button [navPush]="maisPage" ion-button block color="light"><ion-icon name="arrow-dropright-circle" item-left></ion-icon>&nbsp;&nbsp;Mais...</button></ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>