page-inicio {
    .item {
        padding-left: 0;
        &.item-block {
            .item-inner {
                padding-left: 16px;
            }
        }
    }
    .button-inner {
        justify-content: flex-start;
    }
    .button-block {
        margin: 0;
    }
    /*
    .toolbar-background {
        background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/627201/580/386/m1/fpnw/wm0/1-.jpg?1440748334&s=79c63ce8b11e5d46ce8d6b953feb2fa4);
        background-size: cover;
        opacity: 0.4;
        filter: grayscale(100%);
    }
    */
}