page-horarios {
    .item-stable {
        border-color: #b2b2b2;
        background-color: #f8f8f8;
        color: #444;
        padding-left: 0px;
        &:active {
            background-color: #e8e8e8;
        }
        .label {
            margin-left: 20px;
        }
    }
    .item-accordion {
        padding-left: 0px;
        .label {
            margin-left: 20px;
        }
    }
}