<ion-header>
    <ion-navbar>
        <ion-title>Horários</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!selecionado">
        <button ion-item *ngFor="let item of dados.horarios | keys" (click)="itemSelecionado($event, item.value)">
            {{item.key}}
            <div class="item-note" item-right>ver</div>
        </button>
    </ion-list>
    <div *ngIf="selecionado">
        <ion-card *ngFor="let dia of selecionado | keys">
            <ion-card-header>
                {{dia.key}}
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let horario of dia.value">
                    {{horario}}
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>