<ion-header>
    <ion-navbar>
        <ion-title>Horários</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!selecionado">
        <button ion-item *ngFor="let item of dados.horarios | keys" (click)="itemSelecionado($event, item.value)">
            {{item.key}}
            <div class="item-note" item-right>ver</div>
        </button>
    </ion-list>
    <div *ngIf="selecionado">
        <ion-list>
            <div *ngFor="let dia of selecionado | keys">
                <ion-item class="item-stable" (click)="toggleDetalhes(dia)">
                    <ion-icon *ngIf="!dia.icon" color="primary" name="ios-arrow-down"></ion-icon>
                    <ion-icon *ngIf="dia.icon" color="primary" [name]="dia.icon"></ion-icon>
                    &nbsp;&nbsp;{{dia.key}}
                </ion-item>
                <div *ngIf="dia.detalhes">
                    <ion-item class="item-accordion" *ngFor="let horario of dia.value">
                        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;&nbsp;{{horario}}
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>